dicom2nifti==2.4.8
imgaug==0.4.0
joblib==1.2.0
matplotlib==3.7.1
monai==1.1.0
nibabel==5.1.0
numpy==1.24.3
opencv_python==4.7.0.72
pandas==2.0.1
pytorch_lightning==2.0.2
scikit_learn==1.2.2
seaborn==0.12.2
SimpleITK==2.2.1
scikit-image==0.20.0
torch==2.0.1
torchvision==0.15.2
